<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        var startTime = +new Date()
    </script>
    <script src="./test1.js"></script>
    <script src="./test2.js"></script>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script>
        var endTime = +new Date()
        console.log('empty page time')
        console.log(endTime - startTime)
    </script>
    <title>Document</title>
</head>
<body>
<script>
    var navTimes = performance.getEntriesByType("navigation");
    console.log('navTimes');
    console.log(navTimes);
    var resourceTimes = performance.getEntriesByType('resource')
    console.log('resourceTimes')
    console.log(resourceTimes)
    $(document).ready(function () {
        var domReadyTime = +new Date()
        console.log("domReadyTime")
        console.log(domReadyTime - startTime)
    })
</script>
</body>
</html>